#navbar {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    height: 5vh;
}

.navbar-item {
    text-decoration: none;
    margin-left: 10px;
}

.navbar-link-categories {
    text-decoration: none;
    margin-left: 10px;
}

#current-user-icon {
    margin-left: auto;
}

#current-user-avatar {
    width: 5vw;
}

/* dropdown categories */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.navbar-link-categories{
    margin-top: -5px;
}

