#navbar {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.navbar-item {
    text-decoration: none;
    margin-left: 10px;
}

.navbar-link-categories {
    text-decoration: none;
    margin-left: 10px;
}