.article-content {
    display: grid;
    width: 80%;
    gap: 2vw;

    /* grid-template-columns: (5, 1fr);
    grid-template-rows: (3, 1fr); */

    grid-template-areas:
        "title title title title title"
        "info info info upvotes upvotes"
        "image image content content content"
}

.single-review-title {
    text-align: center;

    grid-area: title;
}

.single-article-info-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    grid-area: info;
}

.single-article-info {
    margin-left: 1vw;
}

.upvotes-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    grid-area: upvotes;
}
.review-upvotes {
    margin-left: 1vw;
}

.single-review-image-container{
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: image;
}

.single-review-image{
    width: 100%;
    height: auto;

}

.article-review-body-container {
    width: 100%;

    grid-area: content;
}
.review-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 80%;

    font-size: 20px;
}