body {
  /* background-image: linear-gradient(lightblue, lightgreen); */
  background-image: url("../../images/trianglify-colour3.png");
  background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#header {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: lightgreen;
  width: 100%;
  font-size: 5vw;
}

/* sort and filter form, and list container in a row */
.list-reviews-page-container {
  display: flex;
  flex-direction: row;
  padding: 1.5vw;
}